<div class="search-container">
  <h2>So Where You Headed?</h2>

  <input placeholder="From✈️" [(ngModel)]="fromPlace" required/>
  <input placeholder="To🛬" [(ngModel)]="toPlace" required/>

  <input
    type="datetime-local"
    [(ngModel)]="departureDate"
    required
  />

  <input
    type="number"
    min="1"
    [(ngModel)]="numberOfSeats"
    required
  />

  <button (click)="search()">Search</button>

  <p class="error" *ngIf="error">{{ error }}</p>

  <div class="flight-card" *ngFor="let f of flights">
    <h3>{{ f.airline.name }} ({{ f.flightNumber }})</h3>
    <p>{{ f.fromPlace }} → {{ f.toPlace }}</p>
    <p>Departure: {{ f.departureDateTime }}</p>
    <p>Price: ₹{{ f.priceOneWay }}</p>
    <p>Seats left: {{ f.availableSeats }}</p>
    <button (click)="book()">BookNow</button>
  </div>
</div>
