<div class="search-container">
  <h2>So Where You Headed?</h2>

  <input placeholder="From✈️" [(ngModel)]="fromPlace" required/>
  <input placeholder="To🛬" [(ngModel)]="toPlace" required/>

  <input
    type="datetime-local"
    [(ngModel)]="departureDate"
    required
  />

  <input
    type="number"
    min="1"
    [(ngModel)]="numberOfSeats"
    required
  />

  <button (click)="search()">Search</button>

  <p class="error" *ngIf="error">{{ error }}</p>

  <div class="flight-card" *ngFor="let flight of flights">
    <h3>{{ flight.airline.name }} ({{ flight.flightNumber }})</h3>
    <p>{{ flight.fromPlace }} → {{ flight.toPlace }}</p>
    <p>Departure: {{ flight.departureDateTime }}</p>
    <p>Price: ₹{{ flight.priceOneWay }}</p>
    <p>Seats left: {{ flight.availableSeats }}</p>
    <button (click)="book(flight.airline.id)">BookNow</button>
    
  </div>
  

</div>
