<div class="register-container">
  <h2>Create Account ✈️</h2>

  <input
    type="text"
    placeholder="Full Name"
    [(ngModel)]="fullName"
  />

  <input
    type="email"
    placeholder="Email"
    [(ngModel)]="email"
  />

  <input
    type="password"
    placeholder="Password"
    [(ngModel)]="password"
  />

  <select [(ngModel)]="role">
    <option value="ROLE_USER">User</option>
    <option value="ROLE_ADMIN">Admin</option>
  </select>

  <button (click)="register()">Register</button>

  <p class="error" *ngIf="error">{{ error }}</p>

  <p>
    Already have an account?
    <a routerLink="/login">Login</a>
  </p>
</div>
