<div class="login-container">
  <h1>Change Password</h1>

  <input
    type="email"
    placeholder="Email"
    [(ngModel)]="email"
    required
  />

  <input
    type="password"
    placeholder="Old Password"
    [(ngModel)]="oldPassword"
    required
  />

<input
  type="password"
  placeholder="New Password"
  [(ngModel)]="newPassword"
  (ngModelChange)="validatePasswordRules()"
  required
/>

<ul class="pw-rules" *ngIf="newPassword">
  <li [class.ok]="passwordRules.minLength"><span>{{ passwordRules.minLength ? '✔' : '✖' }}</span> At least 8 characters</li>
  <li [class.ok]="passwordRules.hasUpper"><span>{{ passwordRules.hasUpper ? '✔' : '✖' }}</span> One uppercase letter</li>
  <li [class.ok]="passwordRules.hasLower"><span>{{ passwordRules.hasLower ? '✔' : '✖' }}</span> One lowercase letter</li>
  <li [class.ok]="passwordRules.hasNumber"><span>{{ passwordRules.hasNumber ? '✔' : '✖' }}</span> One number</li>
  <li [class.ok]="passwordRules.hasSpecial"><span>{{ passwordRules.hasSpecial ? '✔' : '✖' }}</span> One special character (e.g. @ $ ! % *)</li>
</ul>

<div *ngIf="passwordErrors.length" class="error">
  <div>Please fix the following:</div>
  <ul>
    <li *ngFor="let e of passwordErrors">{{ e }}</li>
  </ul>
</div>

<button
  (click)="changePassword()"
  [disabled]="!email || !oldPassword || !isPasswordValid()"
>
  Update Password
</button>


  <p class="error" *ngIf="error">{{ error }}</p>
  <p class="success" *ngIf="success">{{ success }}</p>
</div>
