server:
  port: 8761

spring:
  application:
    name: eureka-server

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
    service-url:
      default-zone: http://localhost:8761/eureka/
  server:
    enable-self-preservation: false
    eviction-interval-timer-in-ms: 60000
    response-cache-update-interval-ms: 30000
    registry-sync-retry-wait-ms: 30000

logging:
  level:
    root: INFO
    com.netflix.eureka: WARN
    com.netflix.discovery: WARN
