.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  background: #0b3c5d;
  color: white;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.right {
  display: flex;
  align-items: center;
  gap: 15px;
}

button {
  background: crimson;
  border: none;
  color: white;
  padding: 6px 12px;
  cursor: pointer;
}
